@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar CSS */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #666666;
}

html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}

/* Theme */
.light {
  --background: 241, 241, 241;
  --foreground: 85, 85, 85;
  --foreground-dark: 174, 174, 174;
  --foreground-darker: 126, 126, 119;
  --card: 235, 235, 235;
  --card-light: 224, 224, 221;
  --primary: 85, 42, 146;
  --primary-light: 122, 61, 209;
  --secondary: 143, 112, 3;
}

.dark,
[data-theme="dark"] {
  --background: 14, 14, 14;
  --foreground: 170, 170, 170;
  --foreground-dark: 81, 81, 81;
  --foreground-darker: 129, 129, 136;
  --card: 28, 28, 28;
  --card-light: 39, 39, 42;
  --primary: 85, 42, 146;
  --primary-light: 122, 61, 209;
  --secondary: 143, 112, 3;
}